

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

html {
  width: 100%;
  height: 100%;
}

a,
a:hover,
a:focus {
  outline: 0;
}

/*.navbar {
    padding: 11px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
}*/

.home-section {
  min-height: 100%;
  padding-top: 150px;
  background: #000 url("/img/home-bg.jpg") no-repeat fixed center;
}

.history-section {
  min-height: 100%;
  background-color: rgb(239, 237, 227) ;

  .first {
    min-height: 100%;
    background: url("/img/history-bg.jpg") no-repeat fixed center;
    padding-top: 20%;
  }
  .second {
    min-height: 100%;
    background: url("/img/history2-bg.jpg") no-repeat fixed center;
  }
  .third {
    min-height: 100%;
    background: url("/img/history3-bg.jpg") no-repeat fixed center;
  }
}

.restaurant-section {
  min-height: 100%;
  background: rgb(238, 238, 238);

  .first {
    min-height: 100%;
    background: url("/img/history-bg.jpg") no-repeat fixed center;
    padding-top: 20%;
  }
  .second {
    min-height: 100%;
    background: url("/img/restaurant-bg.jpg") no-repeat fixed center;
  }
}

.vendeghazak-section {
  min-height: 100%;
  background: rgb(238, 238, 238);

  .first {
    min-height: 100%;
    background: url("/img/history-bg.jpg") no-repeat fixed center;
    padding-top: 20%;
  }

}

.contacts-section {
  min-height: 100%;
  background: rgb(238, 238, 238);

  .first {
    min-height: 100%;
    background: url("/img/contacts-bg.jpg") no-repeat fixed center;
    padding-top: 20%;
  }
}

.opinions-section {
  min-height: 100%;
  padding-top: 98px;
  padding-bottom: 20px;
  background-color: #fff;
}

.closing-section {
  padding-bottom: 50px;
  background: #b99670 url("/img/closing-bg.png") no-repeat fixed center bottom;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #b99670;
    display: block;

  .navbar-default {
    height: 60px;
    border: 0px;
  }
  .navbar-default .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .navbar-default .navbar-nav>li>a>span>.circle {
    width: 13px;
    height: 13px;
    background-color: #cbac80;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    margin-top: 2px;
    }

  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
    background-color: #b99670;
    color: #efede3;
  }
  .navbar-default .navbar-nav>.active>a>span>.circle,
  .navbar-default .navbar-nav>.active>a:focus>span>.circle,
  .navbar-default .navbar-nav>.active>a:hover>span>.circle {
    background-color: #efede3;
  }
}