body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  position: relative; }

html {
  width: 100%;
  height: 100%; }

a,
a:hover,
a:focus {
  outline: 0; }

/*.navbar {
    padding: 11px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
}*/
.home-section {
  min-height: 100%;
  padding-top: 150px;
  background: #000 url("/assets/img/home-bg.jpg") no-repeat fixed center; }

.history-section {
  min-height: 100%;
  background-color: #efede3; }
  .history-section .first {
    min-height: 100%;
    background: url("/assets/img/history-bg.jpg") no-repeat fixed center;
    padding-top: 20%; }
  .history-section .second {
    min-height: 100%;
    background: url("/assets/img/history2-bg.jpg") no-repeat fixed center; }
  .history-section .third {
    min-height: 100%;
    background: url("/assets/img/history3-bg.jpg") no-repeat fixed center; }

.restaurant-section {
  min-height: 100%;
  background: #eeeeee; }
  .restaurant-section .first {
    min-height: 100%;
    background: url("/assets/img/history-bg.jpg") no-repeat fixed center;
    padding-top: 20%; }
  .restaurant-section .second {
    min-height: 100%;
    background: url("/assets/img/restaurant-bg.jpg") no-repeat fixed center; }

.vendeghazak-section {
  min-height: 100%;
  background: #eeeeee;}
  .vendeghazak-section .first {
    min-height: 100%;
    background: url("/assets/img/history-bg.jpg") no-repeat fixed center;
    padding-bottom: 10%;
    padding-top: 10%; }

.contacts-section {
  min-height: 100%;
  background: #eeeeee; }
  .contacts-section .first {
    min-height: 100%;
    background: url("/assets/img/contacts-bg.jpg") no-repeat fixed center;
    padding-top: 20%; }

.opinions-section {
  min-height: 100%;
  padding-top: 98px;
  padding-bottom: 20px;
  background-color: #f5e3bc; }

.closing-section {
  padding-bottom: 50px;
  background: #b99670 url("/assets/img/closing-bg.png") no-repeat fixed center bottom; }

@-moz-document url-prefix() {
    .home-section,
    .history-section .first,
    .history-section .second,
    .history-section .third,
    .restaurant-section .first,
    .restaurant-section .second,
    .contacts-section .first,
    .opinions-section {
        height: 100%;
    }
    .onepage-text {
        top: initial !important;
    }
}

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #b99670;
  display: block; }
  footer .navbar-default {
    height: 60px;
    border: 0px; }
  footer .navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 30px; }
  footer .navbar-default .navbar-nav > li > a > span > .circle {
    width: 13px;
    height: 13px;
    background-color: #cbac80;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    margin-top: 2px; }
  footer .navbar-default .navbar-nav > .active > a,
  footer .navbar-default .navbar-nav > .active > a:focus,
  footer .navbar-default .navbar-nav > .active > a:hover {
    background-color: #b99670;
    color: #efede3; }
  footer .navbar-default .navbar-nav > .active > a > span > .circle,
  footer .navbar-default .navbar-nav > .active > a:focus > span > .circle,
  footer .navbar-default .navbar-nav > .active > a:hover > span > .circle {
    background-color: #efede3; }

/*# sourceMappingURL=base.css.map */
.normal-page {
    padding-bottom: 25px;
}
.normal-page h1 {
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    color: #2d2d2d;
    padding-bottom: 30px;
}
.normal-page h2 {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-size: 20px;
    color: #2d2d2d;
    padding-bottom: 30px;
}
.normal-page h2:first-letter {
    color: #b99670;
    font-size: 32px;
    line-height: 32px;
    padding-top: 4px;
    padding-right: 0px;
}
.normal-page h3 {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-size: 20px;
    color: #b99670;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px;
}
.normal-page p {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-size: 20px;
    color: #2d2d2d;
    margin: 0px;
}

@media (max-width: 768px){
    .normal-page h1 {
        font-family: 'EB Garamond', serif;
        font-size: 28px;
        color: #2d2d2d;
        padding-bottom: 30px;
    }
    .normal-page h2 {
        font-family: 'EB Garamond', serif;
        font-style: normal;
        font-size: 16px;
        color: #2d2d2d;
        padding-bottom: 30px;
    }
    .normal-page h2:first-letter {
        color: #b99670;
        font-size: 28px;
        line-height: 28px;
        padding-top: 2px;
        padding-right: 0px;
    }
    .normal-page h3 {
        font-family: 'EB Garamond', serif;
        font-style: normal;
        font-size: 14px;
        color: #b99670;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .normal-page p {
        font-family: 'EB Garamond', serif;
        font-style: normal;
        font-size: 16px;
        color: #2d2d2d;
        margin: 0px;
    }
}


.form-control {
    border-radius: 0px;
    border: 2px solid #d7bc96;
    height:45px;
    background-color: #fcf5e5;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #b99670;
    text-align: center;
    background-color: #fcf5e5;
    border: 2px solid #d7bc96;
    border-radius: 0px;
}
.input-group-addon:hover {
    border: 2px solid #d7bc96;
    background-color: #b99670;
    color: white;
}

label {
    margin-top: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    color: #2d2d2d;
    font-weight: 300;
    padding-left: 10px;
}

.btn-primary {
    margin-top: 25px;
    border-radius: 0px;
    border: 2px solid #d7bc96;
    height:65px;
    background-color: transparent;
    font-family: 'EB Garamond', serif;
    color: #b99670;
    font-size: 32px;
    padding: 10px 25px 10px 25px;
    text-transform: uppercase;
}

.btn-primary:hover {
    border: 2px solid #d7bc96;
    background-color: #b99670;
    color: white;
}

.btn-sm-primary {
    margin-top: 25px;
    border-radius: 0px;
    border: 2px solid #d7bc96;
    height:35px;
    background-color: transparent;
    font-family: 'EB Garamond', serif;
    color: #b99670;
    font-size: 16px;
    padding: 5px 15px 10px 15px;
    text-transform: uppercase;
}


textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(166, 139, 101, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(166, 139, 101, 0.6) !important;
    outline: 0 none !important;
}


@media (max-width: 1400px){
    .normal-page {
        padding-right: 50px;
        padding-left: 50px;
    }
    .row {
        margin-right: 15px;
        margin-left: 15px;
    }
    .row > p {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (max-width: 768px){
    .normal-page {
        padding-right: 15px;
        padding-left: 15px;
    }
    .row {
        margin-right: 5px;
        margin-left: 5px;
    }
    .row > p {
        padding-right: 10px;
        padding-left: 10px;
    }
}