@font-face {
  font-family: 'Lovelo';
  src: url("/assets/fonts/lovelo_black-webfont.eot");
  src: url("/assets/fonts/lovelo_black-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/lovelo_black-webfont.woff2") format("woff2"), url("/assets/fonts/lovelo_black-webfont.woff") format("woff"), url("/assets/fonts/lovelo_black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@media (min-width: 768px) {
  .navigation-bar {
    background-color: #b99670;
    
    border: 0px;
    height: 98px;
    border-radius: 0px;
    margin-bottom: 0px; 
  }

  .header-background {
    height: 163px;
    background-image: url("/assets/img/header-bg1.png");
    background-repeat: no-repeat;
    background-position: top;
  }
}

.navbar-default {
  background-color: #b99670;
  background-image: url("/assets/img/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  height: 98px;
  border-radius: 0px;
  margin-bottom: 0px;
  }

#malom-logo {
  position: fixed;
  top: 0px;
  left: 50%;
  margin-left: -152px;
  max-width: 304px;
  max-height: 163px;
  opacity: 50;
  z-index: 1000;
}

.map-area:hover {
  margin-left: -152px;
  background-color: #333;  
  cursor: pointer;
}

@media (max-width: 650px) {
  #malom-logo {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -152px;
    max-width: 4px;
    max-height: 1px;
    opacity: 50;
    z-index: 1000;
    display: none;
  }

  
}



@media (max-width: 768px) {
  .navigation-bar {
    background-color: #b99670;
    background-image: none;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px; 
  }

  .navbar-header {
    background-color: #b99670;
    background-image: url("/assets/img/header-bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  
}


.navbar .navbar-nav {
  display: inline-block;
  float: none; }

.navbar .navbar-nav .active-page {
  color: white;
}

.navbar .navbar-collapse {
  text-align: center; }


.navbar-brand {
  position: fixed;
  left: 50%;
  margin-left: -152px !important;
  padding: 0px 0px; }

.top-nav-collapse > .navbar-brand {
  top: -10px; }

@media (max-width: 1200px) {
  .navigation-bar .navbar-nav > li > a {
    padding: 40px 10px 15px 10px;
    font-size: 14px;
  }
}

@media (min-width: 1113px) {
  .navigation-bar .navbar-nav > li > a {
    padding: 40px 10px 15px 10px;
    font-size: 12px;
  }
}

@media (max-width: 1113px) {
  .navigation-bar .navbar-nav > li > a {
    padding: 10px 10px 15px 10px;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  

  .navigation-bar .navbar-nav > li > a {
    color: #0f0100;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    z-index: 1001;
  }
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 0px !important;
    }

  .navigation-bar .navbar-nav > li > a {
    color: #0f0100;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
  }
}

.navbar-static-top .navbar-toggle {
    border-color: none;
}

.navbar-static-top .navbar-toggle .icon-bar {
    background-color: #fff;
}

.lang-selector-mobile.btn-group.open .dropdown-toggle,
.lang-selector-mobile.btn-group .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.lang-selector-mobile .dropdown-menu {
    min-width: 68px;
    padding: 5px 0px;
    margin: 8px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #B99670;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px;
    border: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.lang-selector-mobile a {
    color: #fff !important;
    margin-top: 7px;
}

h1 {
  font-family: 'Lovelo', sans-serif;
  font-size: 90px;
  text-transform: uppercase !important; }

h2 {
  font-family: 'EB Garamond', serif;
  font-size: 72px;
  font-style: italic;
  color: #b99670; }

.home-section h1 {
  font-size: 90px;
  color: white; }
.home-section h2 {
  font-family: 'Lovelo', sans-serif;
  font-size: 38px;
  text-transform: uppercase !important;
  font-style: normal;
  color: #f1e2c2; }

#logo-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 152px 0 152px;
  border-color: #b99670 transparent transparent transparent;
  z-index: 57681;
 }

@media (max-width: 767px) {
    h1 {
        font-size: 72px; }

    h2 {
        font-size: 36px;}

    .home-section h1 {
        font-size: 72px;}
    .home-section h2 {
        font-size: 32px; }
}
@media (max-width: 360px) {
    h1 {
        font-size: 72px; }

    h2 {
        font-size: 36px;}

    .home-section h1 {
        font-size: 72px;}
    .home-section h2 {
        font-size: 32px; }
}

/*
#logo-bg {
  position: fixed;
    background-image: url("/assets/img/logo-lines.png");
  top: 0px;
  left: 50%;
  margin-left: -152px;
    width: 304px;
    height: 163px;
    z-index: 50000;}

#logo-bg:hover {
    background-image: url("/assets/img/logo-lines-hover.png");
    margin-left: -151px;
}

#logo {
  position: fixed;
  top: 15px;
  left: 50%;
  margin-left: -60px;
  z-index: 80000;
  background-image: url(/assets/img/logo.png);
  width: 121px;
  height: 67px;
}

#logo:hover {
    background-image: url(/assets/img/logo-hover.png);
}
*/
/*contacts*/
.triangle.triangle-down {
  background-image: url("/assets/img/contacts-triangle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 250px;
  margin-top: -60px;}

.triangle.triangle-up {
    background-image: url("/assets/img/contacts-triangle-up.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 250px; }


.triangle h3 {
    text-transform: uppercase;
    font-family: 'Lovelo', sans-serif;
}

.onepage-text-vertical-apartment-inner h3 {
    text-transform: uppercase;
    font-family: 'Lovelo', sans-serif;
}

.triangle a {
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.triangle-up a {
    top: 100px !important;
}
.triangle-up h3 {
    top: 165px !important;
    position: relative;
}

.triangle-down a {
    top: 70px !important;
}

.lang {
    z-index: 65464;
}

.lang-selector {
    z-index: 56562;
  position: fixed;
  top: 110px;
  right: -130px;
  padding-left: 50px; }
  .lang-selector a {
    text-decoration: none;
  }
  .lang-selector .lang {
    display: block;
    height: 47px;
    width: 180px;
    margin-bottom: 10px;
    padding-top: 13px;
    padding-left: 15px; }
  .lang-selector .lang.active {
    position: relative;
    right: 20px;
    background-image: url("/assets/img/lang-active.png");
    background-repeat: no-repeat;
    color: #fff; }
    .lang-selector .lang.active a {
        padding: 15px 35px 15px 15px;
        margin-left: -15px;
        color: #fff; }
  .lang-selector .lang.inactive {
    background-image: url("/assets/img/lang-inactive.png");
    background-repeat: no-repeat;
    color: #b99670; }
    .lang-selector .lang.inactive a {
        color: #b99670;
        padding: 15px;
        margin-left: -15px;
        color: #b99670; }


.reservation-selector {
    z-index: 5435;
    position: fixed;
    top: 50%;
    margin-top: -176px;
    left: 0px;
    height: 352px;
    width: 987px;
    background: url("/assets/img/reservation-selector-bg.png");
}
.reservation-selector h1,
.reservation-selector h2 {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #2d2d2d;
    text-transform: uppercase;
    font-style: normal;
}
.reservation-selector .main-title {
    position: relative;
    top: 0px;
    right: 45px;
    float: right;
    height: 352px;
    width: 37px;
    cursor: pointer;
    z-index: 1000;
}
.reservation-selector .table {
    position: relative;
    width: 475px;
    height: 352px;
    margin-right: -20px;
    float: left;
    left: 500px;
    top: 12px;
}

.reservation-selector th.prev,
.reservation-selector th.next,
.reservation-selector td:hover {
    cursor: pointer;
}

.titles {
    position: relative;
    top: 50%;
    margin-top: -40px;
    left: 0px;
    text-align: center;
    margin-left: -135px;
    width: 352px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
}

.copyright {
  height: 80px;
  border-top: 2px solid #363434;
  background-color: rgba(0, 0, 0, 0.3); }

@media (max-width: 768px) {
  footer {
      display: none;
  }
}

@media (min-width: 768px) {
  footer {
      z-index: 65523;
  }
}

.navigation-bar .navbar-nav> li > a:focus, .navigation-bar .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
}


.closing-section {
  //margin-top: 30px;
}
.closing-section-normal {
    padding-bottom: 0 !important;
}
.closing-section .menu {
  padding: 10px; }
.closing-section .menu a {
  color: #0f0100;
  text-transform: uppercase;
  font-family: 'EB Garamond', serif;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  line-height: 24px;
  font-size: 16px; }
.closing-section .btn-top-copyright {
  position: relative;
  height: 87px;
  width: 105px;
  background-image: url("/assets/img/back-to-top.png");
  top: -127px;
  left: 50%;
  margin-left: -52px;
  color: white;
  padding-top: 30px;
  cursor: pointer;
}

.copyright {
    height: 80px;
    border-top: 2px solid #363434;
    background-color: rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=main.css.map */


/*main calendar design*/
.reservation-selector .input-group.date {
    margin-left: 70px;
    margin-top: -10px;
}
.picker-switch, .dow {
    color: #b99670;
    font-family: 'EB Garamond', serif;
}

#apartment-picker > .bootstrap-datetimepicker-widget table td.day.disabled,
#apartment-picker > .bootstrap-datetimepicker-widget table td.day.disabled:hover,
#apartment-picker > .bootstrap-datetimepicker-widget table td.day:hover {
    cursor: default;
}

#apartment-picker > .bootstrap-datetimepicker-widget table td.day,
#apartment-picker > .bootstrap-datetimepicker-widget table td.active {
    background-color: #b99670 !important;
    border-radius: 100px !important;;
    height: 35px!important;
    width: 35px !important;
    color: #ffffff !important;;
    font-family: arial, sans-serif !important;;
    font-size: 20px !important;;
}
#apartment-picker > .bootstrap-datetimepicker-widget table td.day.disabled.past {
    background-color: #D4BEA8 !important;
}
#datetimepicker1 > .bootstrap-datetimepicker-widget table td.day{
    background-color: #b99670;
    border-radius: 100px;
    height: 35px!important;
    width: 35px !important;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 20px;
}
@-moz-document url-prefix() {
    .bootstrap-datetimepicker-widget table td.day{
        height: 36px!important;
        width: 28px !important;
    }
}

.datepicker-days table  {
    border-spacing: 5;
    border-collapse: initial;
}

li.picker-switch.accordion-toggle {
    display: none;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #ea725e !important;
}

.bootstrap-datetimepicker-widget table td.active.today:before{
    display: none;
}
/**/

.onepage-text{
    height: 540px;
    width: 372px;
    background: url("/assets/img/onepage-text-bg.png");
    left: 50%;
    top: 50%;
    margin-top: 270px;
    position: relative;
    margin-left: -186px;
    padding: 40px;
    padding-top: 60px;
    text-align: center;
}
.onepage-text-vertical{
    height: 250px;
    max-width: 800px;
    background: url("/assets/img/onepage-text-vertical-bg.png");
    left: 50%;
    top: 10px;
    position: relative;
    margin-left: -400px;
    padding: 40px;
    padding-top: 60px;
    text-align: center;
}
.onepage-text-vertical-apartment{
    max-width: 100%;
    background-color: #fff;
    background-size: cover;
    top: 10px;
    position: relative;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
}
.onepage-text-vertical-apartment-inner{
    background-color: #fff;
    border: 1px solid #B79672;
    text-align: center;
}

@media (max-width: 790px) {
    .onepage-text-vertical{
        height: 250px;
        width: 730px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -360px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }
}


@media (max-width: 730px) {
    .onepage-text-vertical{
        height: 250px;
        width: 690px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -340px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 65px;
    }
}

@media (max-width: 690px) {
    .onepage-text-vertical{
        height: 250px;
        width: 630px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -310px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 65px;
    }
}

@media (max-width: 630px) {
    .onepage-text-vertical{
        height: 250px;
        width: 590px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -290px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 65px;
    }
}

@media (max-width: 590px) {
    .onepage-text-vertical{
        height: 250px;
        width: 530px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -270px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 60px;
    }
}

@media (max-width: 530px) {
    .onepage-text-vertical{
        height: 250px;
        width: 490px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -245px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 50px;
    }
}

@media (max-width: 490px) {
    .onepage-text-vertical{
        height: 250px;
        width: 430px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -215px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 50px;
    }
}

@media (max-width: 430px) {
    .onepage-text-vertical{
        height: 250px;
        width: 390px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -195px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 45px;
    }
}

@media (max-width: 390px) {
    .onepage-text-vertical{
        height: 250px;
        width: 350px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -175px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 45px;
    }
}

@media (max-width: 330px) {
    .onepage-text-vertical{
        height: 250px;
        width: 290px;
        background: url("/assets/img/onepage-text-vertical-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 10px;
        position: relative;
        margin-left: -145px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .first .row-centered h1 {
      font-size: 40px;
    }

    .onepage-text {
        height: 540px;
        width: 322px;
        background: url("/assets/img/onepage-text-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        margin-top: 270px;
        position: relative;
        margin-left: -162px;
        padding: 40px;
        padding-top: 60px;
        text-align: center;
    }

    .home-section h1 {
      font-size: 40px;
    }

    .onepage-text-vertical p {
      margin-top: 25px !important;
    }
}

.onepage-text p,
.onepage-text-vertical p {
    margin-top: 15px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: #424242;
}

.onepage-text p:first-letter {
    color: #b99670;
    font-size: 32px;
    line-height: 32px;
    padding-top: 4px;
    padding-right: 0px;
}

.thumbnail h2,
.thumbnail h2:first-letter {
    color: #b99670;
    font-size: 26px;
    font-style: italic;
    overflow: hidden;
    max-height: 35px;
}
.thumbnail {
    padding: 10px;
    border: 0px;
    border-radius: 0px;
}


/*etlap table*/

.etlap h2, .etlap h2:first-letter {
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #b99670;
}

.etlap-ico {
    width: 32px;
}
.etlap-ico img {
    width: 32px;
    height: 32px;
}

.table-striped>tbody {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}

.bootstrap-datetimepicker-widget table td.today:before {
    display: none !important;
}

.events-row {
    margin-bottom: 20px;
}

.event-text {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    color: #353434;
    border-left: 2px solid #b99771;
}

.event-date {
    font-size: 18px;
    font-family: 'EB Garamond', serif;
}

.event-date > .day {
    font-size: 60px;
    margin-top: -30px;
    margin-bottom: -10px;
}
.event-date > .month {
    text-transform: uppercase;
}

.events-past img{
    filter: grayscale(100%);
    -webkit-filter:grayscale(100%);
}

/*reviews*/
.review-name,
.review-place{
    margin-left: 50px;
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    color: #353434;
    text-transform: uppercase;

}
.review-name {
    font-weight: 600;
}

.review-star{

}
.review-text{
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    color: #353434;
}

.review-text-wrapper{
    margin-top: 10px;
    background-color: #f6e7c6;
    border: 1px solid #d7bc96;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;

}
.review-text-arrow {
    background-image: url("/assets/img/review-arrow.png");
    background-repeat: no-repeat;
    width: 47px;
    height: 26px;
    margin-top: -36px;
    margin-left: -2px;
}

.rating-container .rating-stars {
    color: #b99670 !important;
}

#table-picker table td.day {
    background-color: #b99670;
    border-radius: 100px;
    height: 35px!important;
    width: 35px !important;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 20px;
}

#table-picker table td.day.selected {
    background-color: green;
}

#table-picker table td.day.full {
    background-color: #ea725e;
    border-radius: 100px;
    height: 35px!important;
    width: 35px !important;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 20px;
}

#table-picker th.picker-switch {
    text-align: center;
}


@media (max-width: 768px){
    .image-container {
		max-height: 350px;
	}

	.image-container img {
		max-height: 330px;
	}
}

@media (min-width: 992px){
    .image-container {
		max-height: 250px;
	}

	.image-container img {
		max-height: 230px;
	}
}

@media (min-width: 1200px){
    .image-container {
		height: 200px;
	}

	.image-container img {
		max-height: 180px;
	}
}
