@font-face {
  font-family: 'Lovelo';
  src: url('/fonts/lovelo_black-webfont.eot');
  src: url('/fonts/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/lovelo_black-webfont.woff2') format('woff2'),
  url('/fonts/lovelo_black-webfont.woff') format('woff'),
  url('/fonts/lovelo_black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.navbar-default {
    background-color: rgb(185, 150, 112);
    border: 0px;
    height: 98px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
    position: fixed;
    left: 50%;
    margin-left: -152px !important;
    padding: 0px 0px;
}

.top-nav-collapse > .navbar-brand {
    top: -10px;
}


.navbar-default .navbar-nav>li>a {
    color: #0f0100;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    padding-top: 40px;
}

h1{
  font-family: 'Lovelo', sans-serif;
  font-size: 90px;
  text-transform: uppercase !important;
}

h2 {
  font-family: 'EB Garamond', serif;
  font-size:72px;
  font-style: italic;
  color: rgb(185, 150, 112);
}

.home-section {
  h1 {
    font-size: 90px;
    color: rgb(255, 255, 255);
  }

  h2 {
    font-family: 'Lovelo', sans-serif;
    font-size: 38px;
    text-transform: uppercase !important;
    font-style: normal;
    color: rgb(241, 226, 194);

  }
}

#logo-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 152px 0 152px;
  border-color: rgb(185, 150, 112) transparent transparent transparent;
}
#logo-bg {
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -247px;
}

#logo {
  position: fixed;
  top: 15px;
  left: 50%;
  margin-left: -60px;
}


/*contacts*/
.triangle {
    background-image: url("/img/contacts-triangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height:250px;
}
  .triangle.triangle-down {

  }

  .triangle.triangle-up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    h3, a {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      transform: rotate(-180deg);
    }
  }


.lang-selector {
  position: fixed;
  top: 110px;
  right: -90px;
  padding-left: 50px;

  .lang {
    height: 47px;
    width:180px;
    margin-bottom: 10px;
    padding-top: 13px;
    padding-left: 15px;
  }
  .lang.active {
    position: relative;
    right: 20px;
    background-image: url("/img/lang-active.png");
    background-repeat: no-repeat;
    color: #fff;
  }
  .lang.inactive {
    background-image: url("/img/lang-inactive.png");
    background-repeat: no-repeat;
    color: #b99670;
  }
}

.copyright {
  height: 80px;
  border-top: 2px solid #363434;
  background-color:rgba(0, 0, 0, 0.3);
}
.closing-section {
  .menu {
    padding: 10px;
  }
  .menu a {
    color: #0f0100;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    line-height: 24px;
    font-size: 16px;
  }
  .btn-top-copyright {
    position: relative;
    height: 87px;
    width: 105px;
    background-image: url("/img/back-to-top.png");
    top: -87px;
    left: 50%;
    margin-left: -52px;
    color: white;
    padding-top: 30px;
  }
}